<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input
            type="text"
            label="Email"
            labelPlacement="floating"
            placeholder="email"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            label="Password"
            labelPlacement="floating"
            placeholder="password"
          ></ion-input>
        </ion-item>
        <ion-button fill="clear" color="dark">Forget Email/Password</ion-button>
        <ion-button size="full" color="primary">Login</ion-button>
        <ion-button
          fill="clear"
          size="full"
          color="primary"
          (click)="register()"
          >Register</ion-button
        >
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
